* {
  margin: 0;
  padding: 0;
}

/* apply a background color and set the font family for the entire document */
body {
  background-color: #f1f1f1;
  font-family: Arial, sans-serif;
}

/* style the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 20px;
  color: #fff;
}

.nav-list {
  display: flex;
  list-style: none;
  margin-right: 50px;

}

.nav-list li {
  margin-right: 20px;
}

.nav-list li a {
  color: #fff;
  text-decoration: none;
}

/* style the form */
#navv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.container {
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.inputBox {
  margin-bottom: 20px;
}

.inputBox label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.inputBox input,
.inputBox select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.inputBox button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.inputBox button:hover {
  background-color: #555;
}